extends layout

block content
  body
    form(method="post", id="ticket_form")
      .form-group
        .input-group
          span.input-group-addon
            i.icon-male
          input.form-control(type='text', name='ticket_full_name', value='', placeholder='Enter your full name', id='signup_full_name')
      .form-group
        .input-group
          span.input-group-addon
            i.icon-envelope
          input.form-control(type='text', name='ticket_email_address', value='', placeholder='Enter your email address', id='signup_email')
      .form-group
        .input-group
            label.control-label Help Topic
            select#ticket_type.form-control(name='ticket_type')
              option(value='issue') Issue
              option(value='bug') Bug Reporting
              option(value='change_request') Change Request
              option(value='other_problem') Other Problem
      .form-group
        .input-group
          span.input-group-addon
            i.icon-lock
          input.form-control(type='text', name='ticket_subject', value='', placeholder='Subject', id='ticket_subject')
      .form-group
        .input-group
          span.input-group-addon
            i.icon-lock
          textarea#sign_password_rep.form-control(name='ticket_message', value='', placeholder='Please provide as much detail as possible so we can best assist you.')

      input.btn.btn-lg.btn-primary.btn-block.login-submit(type='submit', name='submit_ticket', value='Submit Ticket', id='submit_ticket_button')
      .heading.tabs
        ul#tabs.nav.nav-tabs.pull-right(data-tabs='tabs')
          li.active
            a(data-toggle='tab', href='#tab1')
              i.icon-comments
              span Open Ticket
          li
            a(data-toggle='tab', href='#tab2')
              i.icon-user
              span Close Ticket
          li
            a(data-toggle='tab', href='#tab3')
              i.icon-paper-clip
              span Attachments
      #my-tab-content.tab-content.padded
        #tab1.tab-pane.active
          h3
            | Overview
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet auctor purus, non imperdiet sapien dapibus non. Phasellus pretium rutrum elit in cursus. Donec ullamcorper nec massa vel mattis. Curabitur eros metus, dapibus quis est et, dapibus imperdiet dolor.
        #tab2.tab-pane
          h3
            | Profile
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet auctor purus, non imperdiet sapien dapibus non. Phasellus pretium rutrum elit in cursus. Donec ullamcorper nec massa vel mattis. Curabitur eros metus, dapibus quis est et, dapibus imperdiet dolor.
        #tab3.tab-pane
          h3
            | Attachments
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet auctor purus, non imperdiet sapien dapibus non. Phasellus pretium rutrum elit in cursus. Donec ullamcorper nec massa vel mattis. Curabitur eros metus, dapibus quis est et, dapibus imperdiet dolor.
