doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style1.css')
    link(rel='stylesheet', href='/stylesheets/se7en-font.css')
    link(rel='stylesheet', href='/stylesheets/datatables.css')
  body
    block content
    body
      .navbar.navbar-fixed-top.scroll-hide
        .container-fluid.top-bar
          .pull-right
            ul.nav.navbar-nav.pull-right
              li.dropdown.notifications.hidden-xs
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.se7en-flag(aria-hidden='true')
                  .sr-only
                    | Notifications
                  p.counter
                    | 4
                ul.dropdown-menu
                  li
                    a(href='#')
                      .notifications.label.label-info
                        | New
                      | New user added: Jane Smith
                  li
                    a(href='#')
                      .notifications.label.label-info
                        | New
                      | Sales targets available
                  li
                    a(href='#')
                      .notifications.label.label-info
                        | New
                      | New performance metric added
                  li
                    a(href='#')
                      .notifications.label.label-info
                        | New
                      | New growth data available
              li.dropdown.messages.hidden-xs
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.se7en-envelope(aria-hidden='true')
                  .sr-only
                    | Messages
                  p.counter
                    | 3
                ul.dropdown-menu.messages
                  li
                    a(href='#')
                      img(width='34', height='34', src='images/avatar-male2.png')
                      | Could we meet today? I wanted...
                  li
                    a(href='#')
                      img(width='34', height='34', src='images/avatar-female.png')
                      | Important data needs your analysis...
                  li
                    a(href='#')
                      img(width='34', height='34', src='images/avatar-male2.png')
                      | Buy Se7en today, it's a great theme...
              li.dropdown.user.hidden-xs
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  img(width='34', height='34', src='images/avatar-male.jpg')
                  =user.name
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/user/myaccount')
                      i.icon-user
                      | My Account
                  li
                    a(href='#')
                      i.icon-gear
                      | Account Settings
                  li
                    a(href='/logout')
                      i.icon-signout
                      | Logout
          button.navbar-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.logo(href='index.html') se7en
          form.navbar-form.form-inline.col-lg-2.hidden-xs
            input.form-control(placeholder='Search', type='text')
        .container-fluid.main-nav.clearfix
          .nav-collapse
            ul.nav
              li.dashboard
                a(href='index.html')
                  span.se7en-home(aria-hidden='true')
                  | Dashboard
              li.dropdown.ui
                a(data-toggle='dropdown', href='#')
                  span.se7en-feed(aria-hidden='true')
                  | Ticket
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/tickets/newTicket') Open New Ticket
                  li
                    a(href='/tickets/listTickets') Ticket List
              
      // End Navigation
    block scripts
        script(src='/javascripts/lib/jquery.min.js')
        script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
        script(src='/javascripts/lib/bootstrap.min.js')
        script(src='/javascripts/lib/raphael.min.js')
        script(src='/javascripts/lib/jquery.mousewheel.js')
        script(src='/javascripts/lib/jquery.vmap.min.js')
        script(src='/javascripts/lib/jquery.vmap.world.js')
        script(src='/javascripts/lib/jquery.validate.min.js')
        script(src='/javascripts/lib/jquery.form.js')
        script(src='/javascripts/lib/jquery.bootstrap.wizard.js')
        script(src='/javascripts/lib/fullcalendar.min.js')
        script(src='/javascripts/lib/gcal.js')
        script(src='/javascripts/lib/jquery.dataTables.min.js')
        script(src='/javascripts/lib/jquery.easy-pie-chart.js')
        script(src='/javascripts/lib/excanvas.min.js')
        script(src='/javascripts/lib/jquery.isotope.min.js')
        script(src='/javascripts/lib/masonry.min.js')
        script(src='/javascripts/lib/modernizr.custom.js')
        script(src='/javascripts/lib/jquery.fancybox.pack.js')
        script(src='/javascripts/lib/select2.js')
        script(src='/javascripts/lib/styleswitcher.js')
        script(src='/javascripts/lib/wysiwyg.js')
        script(src='/javascripts/lib/morris.min.js')
        script(src='/javascripts/lib/skycons.js')
        script(src='/javascripts/lib/jquery.sparkline.min.js')
        script(src='/javascripts/lib/main.js')
        script(src='/javascripts/lib/respond.js')
        script(src='/javascripts/ticket.js')

