#forgot_password_modal.modal.fade
  .modal-dialog
  .modal-content
    .modal-header
      button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
      h4.modal-title
        | Retrieve Password
    form#forgot_password_form(method='post')
      .modal-body
        p Please enter the email address associated with your account
        input#email-tf.span5.required(type='text', name='email', placeholder='Enter your email address')
      .modal-footer
        input.btn.btn-primary(type='submit', name='forgot_password_submit', value='Submit')
        button.btn.btn-default-outline(data-dismiss='modal', type='button') Close

