extends layout

block content
  body.fourofour
  // Login Screen
  div.fourofour-container
    h1
      | 404
    h2
      | It looks like you're lost.
    a.btn.btn-lg.btn-default-outline(href='/')
      i.icon-home
      | Go to the homepage
  // End Login Screen
