doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style1.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/stylesheets/se7en-font.css')
  body
    block content
    block scripts
        script(src='/javascripts/lib/jquery.min.js')
        script(src='/javascripts/lib/bootstrap.min.js')
        script(src='/javascripts/lib/jquery.validate.min.js')
        script(src='/javascripts/lib/jquery.form.js')
        script(src='/javascripts/user.js')
