extends layout

block content
  body.login
  .login-container
    if message && message.length
      div.alert.alert-danger
        button.close(type='button', data-dismiss='alert') ×
        =message   
    form(method='post', id='login_form')
        .form-group
          .input-group
            span.input-group-addon
              i.icon-envelope
            input.form-control(type='text', name='login_email_address', value='', placeholder='Email or Username', id='login_email')
        .form-group
          .input-group
            span.input-group-addon
              i.icon-lock
            input.form-control(type='password', name='login_password', value='', placeholder='Password')
        a.pull-right(href='#forgot_password_modal', id="forgot_password_link", data-toggle="modal") Forgot password?
        .form-group
          label.checkbox
            input(type='checkbox')
            | Keep me logged in
        input.btn.btn-lg.btn-primary.btn-block.login-submit(type='submit', name='submit_login', value='Log in', id='login_button')
                
        p
          | Don't have an account yet?
        a.btn.btn-default-outline.btn-block(href='/user/signup') Sign up now

        include modals/alert
        include modals/forgot_password