extends layout

block content
  body.login
  .login-container
    form(method="post", enctype="multipart/form-data")
      .form-group
        .input-group
          input(type='file', name='imageupload')
     
      input.btn.btn-lg.btn-primary.btn-block.login-submit(type='submit', name='submit_signup', value='Submit', id='sign_up_button')
      