extends layout

block content
  body.login
  .login-container
    form(method="post", id="signup_form")
      .form-group
        .input-group
          span.input-group-addon
            i.icon-male
          input.form-control(type='text', name='signup_full_name', value='', placeholder='Enter your full name', id='signup_full_name')
      .form-group
        .input-group
          span.input-group-addon
            i.icon-envelope
          input.form-control(type='text', name='signup_email_address', value='', placeholder='Enter your email address', id='signup_email')
      .form-group
        .input-group
          span.input-group-addon
            i.icon-lock
          input.form-control(type='password', name='signup_password', value='', placeholder='Select a password', id='signup_password')
      .form-group
        .input-group
          span.input-group-addon
            i.icon-lock
          input.form-control(type='password', name='signup_password_rep', value='', placeholder='Repeat your password', id='sign_password_rep')
      input.btn.btn-lg.btn-primary.btn-block.login-submit(type='submit', name='submit_signup', value='Sign up', id='sign_up_button')
      .social-login.clearfix
        a.btn.btn-primary.pull-left.facebook(href='/')
          i.icon-facebook
          | Sign up with facebook
        a.btn.btn-primary.pull-right.twitter(href='/')
          i.icon-twitter
          | Sign up with twitter
      p
        | Already have an account?
      a.btn.btn-default-outline.btn-block(href='/user/login') Login now