#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
        h4.modal-title
          | Se7en
      .modal-body
        h1
          | Welcome
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet auctor purus, non imperdiet sapien dapibus non. Phasellus pretium rutrum elit in cursus. Donec ullamcorper nec massa vel mattis. Curabitur eros metus, dapibus quis est et, dapibus imperdiet dolor. Aenean ac aliquet dolor. Ut porta ultrices justo a tempor. Curabitur eget magna mattis risus accumsan aliquet et a lorem. Pellentesque hendrerit dapibus urna, adipiscing ultrices velit accumsan eget. Fusce eget ultrices turpis, vitae facilisis orci. Curabitur scelerisque consequat vulputate. Aenean felis orci, porttitor ut eros vel, egestas ultricies nunc. Duis suscipit elementum tincidunt.
      .modal-footer
        button.btn.btn-primary(type='button') Save Changes
        button.btn.btn-default-outline(data-dismiss='modal', type='button') Close
